.sh {
    border-radius: 5px;
    font-size: 15px;
    text-shadow: 0 0 1px #000000;
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: 25px;
    width: 500px;
    color: inherit;
    text-decoration: inherit;
    font-family: "MyFontb";
  }
  
  .sh:hover {
    cursor: pointer;
    transform: rotate(0deg);
    opacity: .6;
  }