.total-btc {
    font-size: 9vh;
    padding: 1vh 1vh 1vh 0%;
    color: white;
    border-radius: 150vh;
    width: 8vw;
    opacity: .8;
    margin: 0;
    white-space: nowrap;
  }
  
  .total-btc:hover {
    cursor: default;
    opacity: 2;
  }