.total-btc {
    font-size: 50px;
    color: rgb(159, 9, 152);
    margin: 10px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    overflow: wrap;
    justify-content: center;
    align-items: center;
    animation-name: animatetop;
    animation-duration: 5s;
  }
  
  .total-btc:hover {
    cursor: default;
    opacity: 2;
    transform: rotateX(15deg) rotateY(10deg) rotate3d(1, 1, 1, 15deg);
  }