@font-face {
  font-family: 'MyFont';
  src: url('Cookiemonster-gv11.ttf') format('truetype');
}

form {
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'MyFont';
  font-size: 25px;
  color: fuchsia;
}

form {
  width: 100%;
}

form .button {
  margin: 10% auto;
}

section h6 {
  text-align: center;
  font-family: 'MyFont';
  font-size: large;
  color: greenyellow;
  font-weight: 100;
  font-size: 25px;
  position: relative;
  display: flex;
  text-align: flex-start;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

section p {
  word-wrap: break-word;
  font-family: 'MyFont';
  font-size: 17px;
  color: orange;
  margin: 10px;
  position: relative;
}

.close-button {
  cursor: crosshair;
  text-align: end;
  font-family: 'MyFont';
  font-size: large;
  color: white;
}

.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(25, 48, 149);
  font-size: large;
}
