@font-face {
  font-family: 'MyFont';
  src: url('Cookiemonster-gv11.ttf') format('truetype');
}

.x {
  background: linear-gradient(to top, rgba(214, 122, 0) 0%, rgba(251, 173, 7, 1) 50%, rgba(175, 80, 1) 100%);
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 131px;
  margin-right: -88px;
  width: 110px;
  color: inherit;
  text-decoration: inherit;
  transform: rotate(90deg);
  font-family: "MyFontb";
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content-centered {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
  margin-top: 1%;
}

.close {
  position: fixed;
  top: 1%;
  right: 1%;
  cursor: crosshair;
  font-size: 40px;
  z-index: 9999;
  font-family: 'MyFont';
  color: white;
}

.full-height-image {
  max-height: 95vh;
  width: auto;
}
