@font-face {
  font-family: 'MyFont';
  src: url('Cookiemonster-gv11.ttf') format('truetype');
}

h4.tr {
  padding-left: 2%;
  padding-top: .5%;
  padding-bottom: .5%;
  background: solid black;
  white-space: nowrap;
  font-size: small;
}

p.t {
  padding-left: 2%;
  padding-top: .5%;
  padding-bottom: .5%;
  background: solid black;
  white-space: nowrap;
  font-size: small;
  font-weight: bold;
}

.transaction-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto; /* Add this for horizontal scrolling if necessary */
}

.transaction {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  min-width: 200px; /* Set a minimum width for each transaction element */
}

/* Add any additional styling you need */
