@font-face {
  font-family: 'MyFont';
  src: url('Cookiemonster-gv11.ttf') format('truetype');
}

p.t {
  padding: 5px;
  background: solid black;
  white-space: nowrap;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
}

.transaction-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto; /* Add this for horizontal scrolling if necessary */
}

.transaction {
  padding: 5px;
  margin: 5px;
  display: inline-block;
  width: fit-content;
}

.rosie {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding-right: 30px;
}
