@font-face {
  font-family: 'MyFont';
  src: url('Cookiemonster-gv11.ttf') format('truetype');
}

@font-face {
  font-family: 'MyFontz';
  src: url('BalonkuRegular-la1w.otf') format('truetype');
}

@font-face {
  font-family: 'MyFontb';
  src: url('BemirsDemoVersionRegular-L360Z.ttf') format('truetype');
}


@font-face {
  font-family: 'MyFontc';
  src: url('alarm clock.ttf') format('truetype');
}

body {
  font-family: 'MyFont';
  background: linear-gradient(to right, #893701, #76360b 100%);
  display: grid;
  justify-content: center;
  align-items: center;
}

header {
  overflow: hidden;
  position: relative;
}

.pigpic {
  background-image: url('./background.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 726px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 1155px;
  border-radius: 20px;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  margin-top: 1vh;
}

h1 {
  margin: 48px 0px 0px 220px;
  font-size: 32px;
  font-weight: bold;
  width: 250px;
  background: linear-gradient(to right, rgb(255, 24, 139), black);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h2 {
  margin: 18px 0px 0px 225px;
  font-family: 'MyFontc';
  font-size: 25px;
  font-weight: lighter;
  width: 180px;
  background: black;
  color: rgb(255, 0, 0);
  padding-top: 2px;
  text-align: center;
  border: 10px double #6a3816; /* Set the double border */
  border-radius: 10px;
  box-shadow: 0 0 0 1px black, 0 0 0 1px black; /* Add an outer and inner shadow for the black outline */
}


.balance-card {
  position: relative;
  background: linear-gradient(to right, rgba(211, 146, 77, 0.6) 0%, rgba(187, 122, 117, 0.4) 50%, rgba(183, 141, 107, 0.6) 100%);
  border: solid;
  border-width: 2px;
  border-color: #000000;
  width: 170px;
  height: 120px;
  margin-top: 15px;
  margin-left: 450px;
  border-radius: 200px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Change to 'hidden' for the shadow effect */
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  box-shadow: inset 0 0 10px rgba(5, 5, 5, 1); /* Add an inset box shadow for the fading effect */
}

.balance-card p {
  font-size: 2em;
  font-weight: bold;
  font-family: 'MyFontz';
  border-color: #000000;
  margin: 0;
  opacity: .7;
}

.row {
  width: 100%;
  max-width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-item {
  background-color: #000000;
  border: 2px solid black;
  border-radius: 15px;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  margin: 315px 10px 5px 10px;
  background: linear-gradient(to right, rgba(118, 54, 11, 0.5) 0%, rgba(206, 151, 18, .3) 50%, rgba(137, 55, 1, 0.5) 100%);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
}

.row-item h4 {
  background: linear-gradient(to right, rgba(9, 70, 238, 0.7) 0%, rgba(9, 70, 238, 1) 50%, rgba(9, 70, 238, 0.7) 100%);
  border-radius: 20px;
  border: 2px solid #000000;
  margin-left: 10px;
  font-family: "MyFontz";
  width: fit-content;
  height: 20px;
  align-self: center;
  padding: 10px 15px 5px 5px;
}

.row-item p {
  padding-left: 3%;
  background: linear-gradient(to right, rgba(212, 95, 16, 0.7) 0%, rgba(212, 95, 16, 1) 50%, rgba(212, 95, 16, 0.7) 100%);
  border-radius: 20px;
  border: 2px solid #000000;
  width: fit-content;
  height: 20px;
  font-weight: bold;
}

.transaction .transaction-amount {
  padding-top: 1%;
}

.transaction-amount {
  border-bottom: 1px solid black;
}

@media (max-width: 876px) {
  .row-item {
    width: 100%;
  }

  .balance-card {
    width: 100%;
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
  }
}

@media (max-width: 615px) {
  .row {
    flex-direction: column;
  }

  .row-item {
    margin-top: 1%;
  }

  .balance-card {
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
  }
}